[Unit]
Description=Simple Hello World Program
After=mpd.service raatapp.service upmpdcli.service
Requisite=mpd.service raatapp.service upmpdcli.service

[Service]
Type=simple
ExecStart=/root/HelloWorld/a.out

[Install]
WantedBy=multi-user.target

