[Unit]
Description=UART Reporter Program
After=mpd.service raatapp.service upmpdcli.service
Requisite=mpd.service raatapp.service upmpdcli.service

[Service]
Type=simple
ExecStart=/root/UARTReporter/a.out

[Install]
WantedBy=multi-user.target

